.form {
    margin: 40px 0;
}

.form .save-wrapper {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 50px auto 0;
}

.input-wrapper {
    margin: 10px 0;
}

.input-wrapper label {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.input-wrapper label .input-element-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper label .input-element-wrapper p {
    margin: 0 0 0 8px;
}

.input-wrapper label .input-label {
    margin: 0 0 5px;
    font-size: 14px;
}

.input-wrapper label .input-element-wrapper input {
    background: transparent;
    width: 100%;
    max-width: 350px;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8), 5px 5px 10px rgba(0,0,0,0.1);
}

select {
    box-shadow: -5px -5px 15px rgba(255,255,255,0.8), 5px 5px 10px rgba(0,0,0,0.1);
    font-size: 16px !important;
}

.MuiInput-underline:before {
    display: none;
}

.MuiSelect-select.MuiSelect-select {
    padding-left: 15px;
    border-radius: 10px;
}

.MuiFormControl-marginNormal {
    margin-top: 0 !important;
}

.MuiInputLabel-formControl {
    padding-left: 15px !important;
}

.MuiSvgIcon-root {
    color: #000000;
}

.MuiGrid-container {
    display: block !important;
}

.long-input {
    width: 100%;
}

.medium-input {
    width: 70%;
}

.short-input {
    width: 40%;
}
