.expense-wrapper {
    position: relative;
    list-style: none;
    padding: 5px 8px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
}

.expense-wrapper .expense-wrapper-content {
    width: 93%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.expense-wrapper .expense-wrapper-content .expense-wrapper-content-left {
    text-align: left;
    max-width: 160px;
}

.expense-wrapper .expense-wrapper-content .expense-wrapper-content-right {
    text-align: right;
}

.expense-wrapper .expense-wrapper-content .item {
    margin: 0 5px 0 0;
    padding-right: 5px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.expense-wrapper .name {
    /* width: 100px; */
    font-size: 16px;
    font-weight: 500;
}

.expense-wrapper .date {
    font-size: 13px;
    /* width: 25px; */
}

.expense-wrapper .cost {
    font-size: 15px;
    /* width: 45px; */
}

.expense-wrapper .category {
    font-size: 15px;
    /* width: 140px; */
}

.expense-wrapper .whoPaid {
    font-size: 15px;
    /* width: 85; */
}

.menu-icon {
    margin-right: 5px;
}

.MuiListItem-button {
    min-height: unset !important;
}